.EightBall {
    /* box-shadow: 5px 5px 10px #678; */
    margin: 50px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* padding: 10px; */
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
}

.ball {
    box-shadow: 5px 5px 10px #678;
    margin: 50px;
    border-radius: 50%;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(25, 25, 28);
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.reset{
    cursor: pointer;
    padding: 5px 25px;
}
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  